.burger-bth {
	position: relative;
	width: 33px;
	height: 20px;

	&:hover {
		opacity: 0.5;
	}

	&:active {
		opacity: 0.3;
	}

	&::before,
	&::after,
	span {
		content: "";
		position: absolute;
		top: 50%;
		height: 3px;
		width: 33px;
		background-color: #39515E;
		border-radius: 3px;
		transition: .3s;
	}

	&::before,
	&::after {
		transition: 0.5s;
	}

	&::before {
		transform: translateY(-5px);
	}

	&::after {
		width: 16px;
		transform: translateY(5px);
	}

	@include mq($from: tablet-wide) {
		display: none;
	}
}

.burger-bth-active {

	span {
		opacity: 0;
		width: 17px;
	}

	&::before {
		width: 17px;
		margin-left: 15px;
		transform: rotate(45deg);
	}

	&::after {
		width: 17px;
		margin-left: 15px;
		transform: rotate(-45deg);
	}
}