.burger-bth {
	position: relative;
	width: 33px;
	height: 20px;


	&::before,
	&::after,
	span {
		content: "";
		position: absolute;
		height: 3px;
		width: 33px;
		background-color: #39515E;
		border-radius: 3px;
		transition: .3s;
	}

	span {
		top: 7px;
	}

	&::before,
	&::after {
		transition: 0.5s;
	}

	&::before {
		top: 5px;
		transform: translateY(-5px);
	}

	&::after {
		top: 10px;
		width: 16px;
		transform: translateY(5px);
	}

	@include mq($from: phablet) {
		width: 42px;
		height: 24px;
		
		&::before,
		&::after,
		span {
			height: 4px;
			width: 42px;
		}

		&::after {
			top: 16px;
			width: 21px;
		}

		span {
			top: 10px;
		}
  }

	@include mq($from: tablet-wide) {
		display: none;
	}
}

.burger-bth-active {
	width: 20px;
	height: 20px;

	span {
		opacity: 0;
		width: 17px;
	}

	&::before {
		top: 10px;
		width: 17px;
		transform: rotate(45deg);
	}

	&::after {
		top: 10px;
		width: 17px;
		transform: rotate(-45deg);
	}

	@include mq($from: phablet) {
		spam {
			width: 20px;
		}

		&::before {
			width: 20px;
			margin-left: 17px;
		}

		&::after {
			top: 10px;
			width: 20px;
			margin-left: 17px;
		}
  }

	@include mq($from: tablet) {
		right: 43vw;
	}
}