.button {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('../img/view.jpg');
  font-family: "Poppins", sans-serif;

  @include mq($from: tablet) {
    color: red;
  }

	@include mq($from: desktop) {
		color: blue;
	}

		
}