.contact {
}

.contact__img {
	width: 70vw;
	margin: 0 auto;

	@include mq($from: phablet) {
		width: 60vw;
	}
}

.contact__content {
	margin: 0 auto;

	@include mq($from: phablet) {
		width: 60vw;
	}
}