.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.menu__nav {
	position: absolute;
	top: 65px;
	transform: translateX(-700px);
	transition: .5s all;
	font-size: 22px;
	
	@include mq($from: phablet) {
		top: 80px;
		font-size: 24px;
  }

	@include mq($from: tablet-wide) {
		position: relative;
		top: 0;
		transform: translateX(0);
  }
}

.menu__nav-active {
	transform: translateX(0);
	background-color: #ffffff;
	border-top: 1px solid #C4C4C4;
	width: 100%;
	height: 100vh;

	@include mq($from: tablet) {
		width: 110vw;
    background-color: #07222f9f;
  }
}

.menu__list {
	margin: 0;
	padding: 0;
	font-weight: 500;
	list-style: none;

	li {
		margin-top: 30px;
	}

	li:first-child {
		padding-top: 40px;
		margin-top: 0;
	}

	a {
		color: #263238; 
	}

	@include mq($from: tablet-wide) {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin: 0;
		padding: 0;
		font-size: 16px;

		li:first-child {
			padding-top: 0;
		}

		li {
			margin-top: 0;
			padding: 0;
		}
  }
}

.menu__inner {
	width: 50vw;
	height: 100vw;
	background-color: #ffffff;

	@include mq($from: tablet-wide) {
		display: flex;
		height: auto;
		width: 100%;
  }
}