.section__title {
	margin-bottom: 50px;
	font-size: 24px;
	font-weight: 600;
	margin-top: 0;
	text-align: center;

	@include mq($from: phablet) {
		font-size: 30px;
	}

	@include mq($from: tablet-wide) {
		font-size: 36px;
	}

	@include mq($from: desktop) {
		font-size: 48px;
	}
}

.section__text {
	padding: 0;
	margin-bottom: 20px;
	font-size: 13px;
	line-height: 19.5px;
	color: #8F95A5;
	text-align: start;

	@include mq($from: phablet) {
		font-size: 12px;
	}

	@include mq($from: tablet) {
		font-size: 13px;
		text-align: start;
	}

	@include mq($from: tablet-wide) {
		font-size: 14px;
		line-height: 21px;
	}

	@include mq($from: desktop) {
		font-size: 16px
	}
}







