.slogan {
	
	@include mq($from: tablet) {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}

	@include mq($from: tablet-wide) {
		margin-top: 25px;
	}

	@include mq($from: desktop) {
		margin-top: 50px;
	}
}

.slogan__image {

	@include mq($from: tablet) {
		width: 50%;
	}
}

.slogan__content {
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 16px;

	@include mq($from: phablet) {
		margin-top: 17px;
	}

	@include mq ($from: tablet) {
		width: 50%;
		margin-top: 50px;
		margin-right: 20px;
		text-align: start;
	}

	@include mq($from: tablet-wide) {
		margin-top: 25px;
	}

	@include mq($from: desktop) {
		margin-top: 50px;
	}
}

.slogan__title {
	position: relative;
	margin: 0 25px;
	font-size: 24px;
	font-weight: 600;
	line-height: 36px;

	@include mq($from: phablet) {
		margin: 0;
		padding: 0;
	}

	@include mq($from: tablet) {
		width: 270px;
		font-size: 36px;
		line-height: 45px;
		white-space: pre-line
	}

	@include mq($from: tablet-wide) {
		width: 360px;
		font-size: 48px;
		line-height: 64px;
	}

	@include mq($from: desktop) {
		width: 490px;
		font-size: 64px;
		line-height: 80px;
	}
}

.slogan__light-bulb {
	display: none; 

	@include mq($from: tablet) {
		display: block;
		width: 50px;
		position: absolute;
		right: 0;
		top: 70px;
	}

	@include mq($from: tablet-wide) {
		width: 60px;
		top: 100px;
	}

	@include mq($from: desktop) {
		width: 85px;
	}
}

.slogan__text {
	margin: 0;
	margin-top: 20px;
	padding: 0;
	font-size: 14px;
	line-height: 21px;
	color: #8F95A5;

	@include mq($from:phablet) {
		margin-top: 26px;
		font-size: 16px;
		line-height: 24px;
	}

	@include mq($from: tablet-wide) {
		padding-right: 40px;
		font-size: 20px;
		line-height: 30px;
	}

	@include mq($from: desktop) {
		padding-right: 0;
		font-size: 24px;
		line-height: 36px;
	}
}

.slogan__btn {
	font-weight: 400;
	margin-top: 35px;
	height: 60px;

	@include mq($from: phablet) {
		width: 305px;
		margin: 0 auto;
    margin-top: 37px;
  }

	@include mq($from: tablet){
		width: 236px;
		margin-left: 0;
	}

	@include mq($from: tablet-wide){
		width: 292px;
		height: 80px;
		font-size: 24px;
		line-height: 36px;
	}

	@include mq($from: desktop){
		margin-top: 60px;
		width: 438px;
		height: 118px;
		font-size: 36px;
		line-height: 54px;
	}
}