$section-margin-bottom: 40px;

//Uses for SCSC mixin mq($from: mobile)
$breakpoints: (
  'phone': 320px,
  'phablet': 575px,
  'tablet': 768px,
  'tablet-wide': 992px,
  'desktop': 1338px,
);

//Uses for SCSC function z($name)
$z-indexes: (
  'outdated-browser',
  'modal',
  'site-header',
  'page-wrapper',
  'site-footer'
);
