body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
}

.header {
  margin-bottom: 80px;

  @include mq($from: phablet) {
    margin-bottom: 95px;
  }

  @include mq($from: tablet) {
    margin-bottom: 55px;
  }

  @include mq($from: tablet-wide) {
    margin-bottom: 72px;
  }

  @include mq($from: desktop) {
    margin-bottom: 147px;
  }
}

.container {
  margin: 0 auto;
  max-width: map-get($map: $breakpoints, $key: desktop);
  padding: 0 15px;

  @include mq($from: phablet) {
    padding: 0 30px;
  }

  @include mq($from: tablet) {
    padding: 0 38px;
  }

  @include mq($from: tablet-wide) {
    padding: 0 31px;
  }

  @include mq($from: desktop) {
    padding: 0 131px;
  }
}

.section {
  margin-bottom: $section-margin-bottom;

  &--no-margin {
    margin-bottom: 0;
  }

  @include mq($from: phablet) {
    margin-bottom: 85px;
  }

  @include mq($from: tablet) {
    margin-bottom: 90px;
  }

  @include mq($from: tablet-wide) {
    margin-bottom: 105px;
  }

  @include mq($from: desktop) {
    margin-bottom: 150px;
  }
}

a {
  text-decoration: none;
  transition: .3s;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }
}

.lock {
  overflow: hidden;
}

.footer {
  margin-top: auto;
}