body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: map-get($map: $breakpoints, $key: desktop);
}

.section {
  margin-bottom: $section-margin-bottom;

  &--no-margin {
    margin-bottom: 0;
  }
}

a {
  text-decoration: none;
  transition: .3s;
}

.footer {
  margin-top: auto;
}

